<html>

<head>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <!-- JavaScript Bundle with Popper -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid">
    <div class="row justify-content-md-center align-items-center text-center" style="background-color:rgb(0, 0,128);">
      <!-- <div class="row justify-content-md-center align-items-center text-center" style="background-color:darkseagreen;"> -->
      <!-- <h1> -->
      <h2 style="color: white;">player : <span id="playerName"></span></h2>
      <h1 style="color: white">
        [<span id="title"></span>] 과정을 무사히 끝마치자.
      </h1>
      <div class="col-lg-3" style="color: white">
        <h3>[ Total move : <span id="move"></span> ]</h3>
      </div>
    </div>
    <div class="row justify-content-md-center align-items-center text-center" style="background-color: rgb(0, 0,128); padding-top:8px; padding-bottom:15px">
      <!-- <div class="row justify-content-md-center align-items-center text-center" style="background-color:darkseagreen;"> -->
      <!-- <div class="col-lg-3"> -->
     
      <div class="col-md-2">
        <button class="btn btn-info" id="reroll">능력치재설정</button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-warning " id="hit">공격하기</button>
      </div>
      <div class="col-lg-2">
        <button class="btn btn-danger" id="reset">Go to Main</button>
      </div>
    </div>

    <div>
      <div class="row justify-content-md-center align-items-center text-center">
        <!-- <div class="col-lg-2" style="height: 10em; background-color: burlywood;"> -->
        <div class="col-lg-2" style="height: 10em; background-color: rgb(245, 241, 222);">
          <b>[Event]</b><br>
          <div id="event" style="white-space: pre-line"></div>
        </div>

        <div class="col-md-1">
          <button type="button" class="btn btn-success" value="0">N</button>
        </div>
        <!-- <div class="col-lg-2" style="height: 10em; background-color: burlywood;"> -->
        <div class="col-lg-2" style="height: 10em; background-color: rgb(245, 241, 222);">
          <b>[System]</b><br>
          <div id="system" style="white-space:pre-line"></div>
        </div>
      </div>
      <div class="row justify-content-md-center align-items-center text-center">
        <div class="col-md-1">
          <button type="button" class="btn btn-success" value="3">W</button>
        </div>
        <div class="col-md-auto">
          <div id="minimap"
            style="white-space: pre-line; border: 1px solid black; display:inline-block; padding : 10px;">
          </div>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-success" value="1">E</button>
        </div>
      </div>
      <div class="row justify-content-md-center align-items-center text-center">
        <!-- <div class="col-lg-2" style="height: 10em; background-color: burlywood;"> -->
        <div class="col-lg-2" style="height: 10em; background-color: rgb(245, 241, 222);">
          <b>[Status]</b><br>
          Level: <span id="LEVEL"> 0</span><br>
          Exp: <span id="EXP"> 0 / 0</span><br>
          HP: <span id="HP"> 5 / 5</span><br>
          STR: <span id="STR"> 0</span><br>
          INT: <span id="INT"> 0</span>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-success" value="2">S</button>
        </div>
        <!-- <div class="col-lg-2" style="height: 10em; background-color: burlywood;"> -->

        <div class="col-lg-2" style="height: 10em; background-color: rgb(245, 241, 222); overflow: auto;">
          <b>[Inventory]</b>
          <div id="inventory" style="white-space:pre-line"></div>
        </div>
      </div>
    </div>
  </div>


 
  </div>
  <button id="music">음악 재생</button> <button id="cheat">렙업(치트키)</button>
  <script>

    const sendAction = (action, params = {}) => {
      $.ajax({
        url: "/action",
        headers: {
          Authorization: "Bearer " + key
        },
        method: "POST",
        data: `action=${action}&direction=${params.direction}`,
      }).done((req) => {
        const { player, minimap, inventory, event, system } = req;
        const playerDegree = player.stage < 1 ? "학부" : (player.stage < 2 ? "석사" : "박사");

        $('#title').text(playerDegree);
        $('#event').text(event);
        $('#minimap').text(minimap);
        $('#inventory').text(inventory);
        $('#system').text(system);
        $('#LEVEL').text(`${player.level} (${playerDegree}) `);
        $('#EXP').text(`${player.exp} / ${player.maxExp}`);
        $('#HP').text(`${player.HP} / ${player.maxHP}`);
        $('#STR').text(player.str);
        $('#INT').text(player.int);
        $('#move').text(player.move);
        $('#playerName').text(player.name);

        let imgary = new Array();
        imgary.push('/img1')
        imgary.push('/img2')
        imgary.push('/img3')
        imgary.push('/img4')
        imgary.push('/img5')
        imgary.push('/img6')
        imgary.push('/img7')
        imgary.push('/img8')
        imgary.push('/img9')
        imgary.push('/img10')
        imgary.push('/img11')
        imgary.push('/img12')
        imgary.push('/img13')
        $('body').css({ 'background': 'url(' + imgary[player.level-1] + ')', 'background-repeat': 'no-repeat', 'background-position': 'center' });

        player.status === 0 ? reroll.show() : reroll.hide();
        player.status >= 2 ? hit.show() : hit.hide();


        for (let i of [0, 1, 2, 3]) {
          const go = $(`button[value="${i}"]`);
          if(player.status === 3 || player.status === -1){
            go.hide();
          }else{
            go.show();
          }
        }

        player.status === -1 ? cheat.hide() : cheat.show();
      });
    }

    const reroll = $('#reroll');
    reroll.bind('click', function () {
      sendAction('reroll');
    })

    const reset = $('#reset');
    reset.bind('click', function () {
      localStorage.removeItem('_key');
      location.href = "/";
    })
    for (let i of [0, 1, 2, 3]) {
      const go = $(`button[value="${i}"]`);
      go.bind('click', function () {
        sendAction('move', { direction: i });
      })
    }
    const hit = $('#hit');
    hit.bind('click', function () {
      sendAction('hit');
    });

    const key = localStorage.getItem('_key');
    if (!key) {
      location.href = "/";
    }

    const music = $('#music');
    music.bind('click', function () {
      const audio = new Audio('/music');
      audio.loop = true;
      audio.play();
    })

    /**** 발표용 ****/
    const cheat = $('#cheat');
    cheat.bind('click', function () {
      sendAction("cheat");
    })

    sendAction("query");

  </script>
</body>

</html>